.cart {
  width: 100%;
  max-width: 330px;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 45px;
  right: 0;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(110%, 0);
  transition:  all 400ms ease;
}

.cart-items {
  flex-grow: 1;
  overflow: auto;
}

.cart-resume {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 35px 0 35px;
  border-top: 1px solid #ddd;
}

.cart-items .cart-item:last-child {
  border-bottom:none;
}

.cart--active {
  transform: translate(0, 0);
}

.buy {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #101820;
  color: #fff;
  transition: background-color 0.3s ease;
}

.buy:hover {
  cursor: pointer;
  background-color: #8ec7d1;
}