.search__bar {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  gap: 13px;
  padding-right: 13px;
}

.seach__input {
  padding: 13px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500;
  border-right: 1px solid #ddd;
}

.search__button {
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  cursor: pointer;

}

@media screen and (max-width: 770px) {
  .search__bar {
    max-width: 90%;
  }

}

@media screen and (max-width: 538px) {
  .search__bar {
    max-width: 82%;
    gap: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 310px) {
  .search__bar {
    max-width: 220px;
  }

  .search__button {
    font-size: .8rem;
  }

}